[user]
	email = theodor.blom1@gmail.com 
	name = Theodor Blom
[hub]
	protocol = https
[credential]
	helper = /usr/local/bin/git-credential-manager-core
	credentialStore = cache
[credential "https://dev.azure.com"]
	useHttpPath = true
