[user]
	email = me@theodorblom.com 
	name = Theodor Blom
[hub]
	protocol = https
[credential "https://dev.azure.com"]
	useHttpPath = true
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[pull]
	rebase = false
